name: Copy the mentioned issue labels to the pull request
on:
  pull_request:
    types: [opened]

jobs:
  copy-labels:
    runs-on: ubuntu-latest
    name: Copy labels from linked issues to pull requests
    steps:
      - name: copy-labels
        uses: michalvankodev/copy-issue-labels@v1.2.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
